STYLEMATCH_CATALOG=
STYLEMATCH_INDEX_DIR=
STYLEMATCH_EMBEDDER=
STYLEMATCH_EMBED_MODEL=
STYLEMATCH_LLM_PROVIDER=
STYLEMATCH_LLM_BASE_URL=
STYLEMATCH_LLM_MODEL=
STYLEMATCH_LLM_API_KEY=
STYLEMATCH_LLM_TIMEOUT_S=
STYLEMATCH_TOP_K=
STYLEMATCH_CANDIDATES=
STYLEMATCH_SEED=
